div.container
  div.col-md-12 hackathon
div.container
  div.col-md-12#phaser-example
div.container
  div.col-md-12
    video.video-js.vjs-default-skin#example_video_1(controls="true", preload="auto", width="640" height="264", poster="http://video-js.zencoder.com/oceans-clip.png")
      source(src="http://video-js.zencoder.com/oceans-clip.webm", type="video/webm")
div.container
  div.col-md-12
    canvas#renderCanvas(width="640" height="264")